//
// begin toot.cafe customizations
//

$color1: #2a2833; // darkest
$color2: #f1ebff; // lightest
$color3: #aea0c9; // lighter
$color4: #ae91e8; // vibrant
$color5: #ffffff; // white
$color6: #ff5283; // error red
$color7: #34febb; // succ green
$color8: #000000; // black

$ui-base-color: $color1;
$ui-secondary-color: $color2;
$ui-primary-color: $color3;
$ui-highlight-color: $color4;
$base-border-color: $color5;
$simple-background-color: $color5;
$primary-text-color: $color5;
$error-value-color: $color6;
$valid-value-color: $color7;
$base-shadow-color: $color8;
$base-overlay-background: $color8;

//
// end toot.cafe customizations
//

// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #282c37;         // Midnight Express
$classic-primary-color: #9baec8;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;                  // Darkest
$ui-base-lighter-color: lighten($ui-base-color, 26%) !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default;            // Lighter
$ui-secondary-color: $classic-secondary-color !default;        // Lightest
$ui-highlight-color: $classic-highlight-color !default;        // Vibrant
